@import 'tailwindcss';

@import './App.css';

@font-face {
  font-family: 'LuckiestGuy';
  src: url(./assets/font/LuckiestGuy-Regular.woff2);
}

@font-face {
  font-family: 'RockSalt';
  src: url(./assets/font/RockSalt-Regular.woff2);
}

@theme {
  --font-primary: 'LuckiestGuy';
  --font-secondary: 'RockSalt';

  --color-primary-200: oklch(0.51 0.16 253.22);
  --color-primary-500: oklch(0.48 0.15 254.07);
  --color-primary-900: oklch(0.39 0.13 255.32);

  --color-secondary-400: oklch(0.93 0.2 103.6);
  --color-secondary-500: oklch(0.88 0.17 93.33);

  --color-tertiary-500: oklch(0.6 0.22 32.84);

  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 120rem;

  --container-*: initial;
}

@utility text-stroke {
  -webkit-text-stroke: 2px white;
}

@utility bg-spirale {
  background-image: url(./assets/images/spirale-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

@utility clip-path {
  clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
}
